<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="https://raw.githubusercontent.com/INC-6/INC-6.github.io/master/_asset/main.jpg"></a>

  <nav class="navbar">
    <img src="https://raw.githubusercontent.com/INC-6/INC-6.github.io/master/_asset/logo.gif"></a>
    <h4> 2019 상반기 신입사원들을 소개합니다</h4>
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">About</a></li>
    </ul>
  </nav>

</header>
